<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home_style.css">

    <title>All notes</title>
</head>
<body>
    <h1>note</h1>

    <form action="/notes" method="get">
        <label for="searchInput">Search</label>
        <input type="text" name="searchTerm" id="searchInput">
        <button>Search</button>
    </form>



    <ul>
        <% notes.forEach(note =>{%>
            <li>
                <h2><%= note.title %></h2>
                <p><%= note.content%>...</p>
                <p><%= new Date(note.time)%></p>
                <a href="/notes/<%=note.id%>">view more</a>
            </li>
        <% })%>    
    </ul>
    <a href="/createNote">CREATE NEW NOTE</a>
</body>
</html>
